<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoftstone.mapper.main.RoleMapper">
  <resultMap id="BaseResultMap" type="com.isoftstone.entity.model.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="roleDesc" jdbcType="VARCHAR" property="roledesc" />
  </resultMap>

  <select id="queryRoleListWithSelected" parameterType="int" resultType="com.isoftstone.entity.model.Role">
    SELECT r.id,r.roleDesc,
    (CASE WHEN (SELECT ur.roleId FROM t_user_role ur WHERE ur.userId= #{id} AND ur.roleId = r.id) THEN 1 ELSE 0 END) AS selected
    FROM t_role r
  </select>
  
  <select id="findAllRole" resultType="com.isoftstone.entity.model.Role">
		SELECT 
		r.id,r.roleDesc
		FROM t_role r
	</select>
  
  
</mapper>